<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .navbar{
          background-color: #090909ea !important;
              }
      .nav-link{
          color: white !important;
             }
      #logo {
          float: left;
          font-size: 1.7em;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: -1px;
          font-weight: bold;
              }
      #home-container{
          margin-top: 25px;
          background-color: lightgrey
        }
      #page-content{
        flex: 1 0 auto;
        background-color: lightgrey;
      }
      .jumbotron{
         background-image: asset-url('image1.jpg');
         height: 590px;
      }
    </style>
  </head>

  <body >
    <%= render 'layouts/navigation' %>
    <div id="page-content">
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
